<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> New Movie </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/login']">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="movieForm" (ngSubmit)="submit(movieForm.value)">
    <ion-list>
      <ion-item>
        <ion-label position="fixed">Title</ion-label>
        <ion-input autocapitalize type="text" formControlName="title" required [placeholder]=" movie.title"
          ></ion-input
        >
      </ion-item>
      <div>
        <ng-container *ngFor="let error of errorMessages.title">
          <small
            class="error-message"
            *ngIf="movieForm.get('title').hasError(error.type) && (movieForm.get('title').dirty || movieForm.get('title').touched)"
            >{{error.message}}</small
          >
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="fixed">Genre</ion-label>
        <ion-input autocapitalize type="text" formControlName="genre" required [placeholder]=" movie.genre"
          ></ion-input
        >
      </ion-item>
      <div>
        <ng-container *ngFor="let error of errorMessages.genre">
          <small
            class="error-message"
            *ngIf="movieForm.get('genre').hasError(error.type) && (movieForm.get('genre').dirty || movieForm.get('genre').touched)"
            >{{error.message}}</small
          >
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="fixed">Year</ion-label>
        <ion-input type="text" formControlName="year" required [placeholder]=" movie.year"
          ></ion-input
        >
      </ion-item>
      <div>
        <ng-container *ngFor="let error of errorMessages.year">
          <small
            class="error-message"
            *ngIf="movieForm.get('year').hasError(error.type) && (movieForm.get('year').dirty || movieForm.get('year').touched)"
            >{{error.message}}</small
          >
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="fixed">Rating</ion-label>
        <ion-input type="number" formControlName="rating" required [placeholder]=" movie.rating"
          ></ion-input
        >
      </ion-item>
      <div>
        <ng-container *ngFor="let error of errorMessages.rating">
          <small
            class="error-message"
            *ngIf="movieForm.get('rating').hasError(error.type) && (movieForm.get('rating').dirty || movieForm.get('rating').touched)"
            >{{error.message}}</small
          >
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="fixed">Location</ion-label>
        <ion-input type="text" formControlName="location" required [placeholder]="movie.geoLocation.formattedLocation"></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let error of errorMessages.location">
          <small
            class="error-message"
            *ngIf="movieForm.get('location').hasError(error.type) && (movieForm.get('location').dirty || movieForm.get('location').touched)"
            >{{error.message}}</small
          >
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="fixed">Poster</ion-label>
        <ion-input type="text" formControlName="poster" required [placeholder]=" movie.poster"></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let error of errorMessages.poster">
          <small
            class="error-message"
            *ngIf="movieForm.get('poster').hasError(error.type) && (movieForm.get('poster').dirty || movieForm.get('poster').touched)"
            >{{error.message}}</small
          >
        </ng-container>
      </div>
      <ion-button type="submit" expand="block" [disabled]="!movieForm.valid">
        <ion-icon slot="end" name="cloud-upload-outline"></ion-icon>
      </ion-button>
    </ion-list>
  </form>

  <ion-card>
    <ion-card-content>
      <img alt="Photo" [src]="photo" />
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Coordinates</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item>Latitude: {{ latitude }}</ion-item>
        <ion-item>Longitude: {{ longitude }}</ion-item>
        <ion-item>Accuracy: {{ accuracy }}</ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="start" name="arrow-undo-outline"></ion-icon>
        <ion-label>Back</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
